<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>David's Survey App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheet/app.css">
  </head>
  <body>
    <a class="ui center aligned huge header" href="/">
      David's Survey Changing App <!-- or what ever you wanna call it, names isn't my thing -->
    </a>
    <hr>
